body {
    font-family: Times New Roman;
    margin: 20px;
    background-color: #f4f4f4;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

nav a:hover {
    color: red;
}

h1 {
    color: darkblue;
}

table {
    margin-top: 10px;
}