/* Page background and font */
    body {
    	font-family: 'Times New Roman';
    	background-color: white;
    	margin: 0;
    }
    
    /* Header */
    h1 {
    	text-align: center;
    	color: white;
    	background-color: black;
    	padding: 20px;
    	margin: 0;
    }

    /* Table */
    table {
    	width: 100%;
    	border-collapse: collapse;
    	border: 1px solid black;
    }

    /* Footer */
    footer {
    	text-align: center;
    	padding: 10px;
    	background-color: black;
    	color: white;
    	position: fixed;
    	bottom: 0;
    	width: 100%;
    }
     
